#stop{
margin-top: 0px;
margin-bottom: 5px;
font-size: 24px;
}

.compounds{
  /* row 1 */
  .hyperviolium{
    width: 30%;
    float: left;
    height: 20px;
  }
  .destAlbinite{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 2 */
  .superunobtainium{
    width: 30%;
    float: left;
    height: 20px;
  }
  .destUklic{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 3 */
  .duskyze{
    width: 30%;
    float: left;
    height: 20px;
  }
  .transcendium{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 4 */
  .endozivite{
    width: 30%;
    float: left;
    height: 20px;
  }
  .grawbix{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 5 */
  .vulkavium{
    width: 30%;
    float: left;
    height: 20px;
  }
  .chromar{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 6 */
  .elementak{
    width: 30%;
    float: left;
    height: 20px;
  }
  .wavettap{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 7 */
  .poltergeire{
    width: 30%;
    float: left;
    height: 20px;
  }
  .nihilize{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 8 */
  .staticacyne{
    width: 30%;
    float: left;
    height: 20px;
  }
  .diviscendium{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 9 */
  .tyrantizum{
    width: 30%;
    float: left;
    height: 20px;
  }
  .apeirodyn{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 10 */
  .hyperunobtainium{
    width: 30%;
    float: left;
    height: 20px;
  }
  .complux{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 11 */
  .primatter{
    width: 30%;
    float: left;
    height: 20px;
  }
  .chargedVoxine{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 12 */
  .metarnityle{
    width: 30%;
    float: left;
    height: 20px;
  }
  .trueVoxine{
    width: 30%;
    margin-left: 35%;
    height: 20px;
  }

  /* row 13 */
  .venturium{
    width: 30%;
    float: left;
    height: 20px;
  }

  
}

#multitoolsBtn{
    pointer-events: none;
    background-color: gray;
    text-decoration: line-through;
}

div.multitools{
  #multiTs{
    display: grid;
    grid-template-columns: repeat(2,42px);
  }  
}