.compounds{
    
  /* row 1 */
  .hyperviolium{
    width: 45%;
    float: left;
    height: 20px;
  }
  .destAlbinite{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 2 */
  .superunobtainium{
    width: 45%;
    float: left;
    height: 20px;
  }
  .destUklic{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 3 */
  .duskyze{
    width: 45%;
    float: left;
    height: 20px;
  }
  .transcendium{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 4 */
  .endozivite{
    width: 45%;
    float: left;
    height: 20px;
  }
  .grawbix{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 5 */
  .vulkavium{
    width: 45%;
    float: left;
    height: 20px;
  }
  .chromar{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 6 */
  .elementak{
    width: 45%;
    float: left;
    height: 20px;
  }
  .wavettap{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 7 */
  .poltergeire{
    width: 45%;
    float: left;
    height: 20px;
  }
  .nihilize{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 8 */
  .staticacyne{
    width: 45%;
    float: left;
    height: 20px;
  }
  .diviscendium{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 9 */
  .tyrantizum{
    width: 45%;
    float: left;
    height: 20px;
  }
  .apeirodyn{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 10 */
  .hyperunobtainium{
    width: 45%;
    float: left;
    height: 20px;
  }
  .complux{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 11 */
  .primatter{
    width: 45%;
    float: left;
    height: 20px;
  }
  .chargedVoxine{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 12 */
  .metarnityle{
    width: 45%;
    float: left;
    height: 20px;
  }
  .trueVoxine{
    width: 45%;
    margin-left: 50%;
    height: 20px;
  }

  /* row 13 */
  .venturium{
    width: 45%;
    float: left;
    height: 20px;
  }


}

#multitoolsBtn{
    pointer-events: none;
    background-color: gray;
    text-decoration: line-through;
}

div.multitools{
  #multiTs{
    display: grid;
    grid-template-columns: repeat(2,42px);
  }  
}