

.extraComp{
  display: block !important;
}
#toggleExtraCompBtn{
  display: none; 
}

.bottomBtns{
  margin-top: 258px;
}

.compounds{
  /* row 1 */
  .hyperviolium{
    width: 100%;
    height: 296px;
  }
  .destAlbinite{
    width: 100%;
    height: 296px;
  }

  /* row 2 */
  .superunobtainium{
    width: 100%;
    height: 296px;
  }
  .destUklic{
    width: 100%;
    height: 296px;
  }

  /* row 3 */
  .duskyze{
    width: 100%;
    height: 296px;
  }
  .transcendium{
    width: 100%;
    height: 296px;
  }

  /* row 4 */
  .endozivite{
    width: 100%;
    height: 296px;
  }
  .grawbix{
    width: 100%;
    height: 296px;
  }

  /* row 5 */
  .vulkavium{
    width: 100%;
    height: 296px;
  }
  .chromar{
    width: 100%;
    height: 296px;
  }

  /* row 6 */
  .elementak{
    width: 100%;
    height: 296px;
  }
  .wavettap{
    width: 100%;
    height: 296px;
  }

  /* row 7 */
  .poltergeire{
    width: 100%;
    height: 296px;
  }
  .nihilize{
    width: 100%;
    height: 296px;
  }

  /* row 8 */
  .staticacyne{
    width: 100%;
    height: 296px;
  }
  .diviscendium{
    width: 100%;
    height: 296px;
  }

  /* row 9 */
  .tyrantizum{
    width: 100%;
    height: 296px;
  }
  .apeirodyn{
    width: 100%;
    height: 296px;
  }

  /* row 10 */
  .hyperunobtainium{
    width: 100%;
    height: 296px;
  }
  .complux{
    width: 100%;
    height: 296px;
  }

  /* row 11 */
  .primatter{
    width: 100%;
    height: 296px;
  }
  .chargedVoxine{
    width: 100%;
    height: 296px;
  }

  /* row 12 */
  .metarnityle{
    width: 100%;
    height: 296px;
  }
  .trueVoxine{
    width: 100%;
    height: 296px;
  }

  /* row 13 */
  .venturium{
    width: 100%;
    height: 296px;
  }

}

#multitoolsBtn{
    pointer-events: none;
    background-color: gray;
    text-decoration: line-through;
}

div.multitools{
  #multiTs{
    display: grid;
    grid-template-columns: repeat(2,42px);
  }  
}